body{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h1{
    color: #175217;
}

#jaune, #vert, #marron, #bleu{
    width: 200px;
    height:200px;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    margin: 20px;
}

#poubelles{
    margin-right: auto;
    text-align: center;
}

#play, #reset, #next, #result {
    width: 100px;
    height: 40px;
    margin: 50px;

}

#random{
    width: 200px;
    height: 200px;
    margin: auto;
}

#image{
    height: 200px;
}

#image2, #icon, #image3{
    height: 50px;
}

#image2 {
    margin: 5px;
    text-align: center;
}

#recap {
    margin-top: 100px;
}

#points {
    font-size: 18px;
    color: #175217
}